$alt-background: #222;
$primary-color: #80DEEA;
$primary-accent: #528C94;
$secondary: #AAD875;
$secondary-accent: #6F8853;
$primary-grey: #fafafa;
$faded-grey: #9d9d9d;
$faded-black: rgba(0,0,0,0.3);
$faded-black-shadow: rgba(255,255,255, 0.2);
$dark-text: #3a3a3a;
$header-font: "Helvetica Neue";
$primary-font: "Garamond";
