html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font-weight: inherit;
 font-style: inherit;
 font-size: 100%;
 font-family: inherit;
 vertical-align: baseline;
}

:focus {
 outline: 0;
}

html {
  height: auto;
}


body {
 line-height: 1;
 color: black;
 background: transparent;
 font-family: $primary-font;
}
ol, ul {
 list-style: none;
}

table {
 border-collapse: separate;
 border-spacing: 0;
}
caption, th, td {
 text-align: left;
 font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: "";
}
blockquote, q {
 quotes: "" "";
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
 text-decoration: none;
 color: inherit;
}

a:focus{
  text-decoration: none;
}

a:active{
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: $secondary;
}

input {
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font-size: 14px;
  border: 1px solid #e0e0e0;
}

.navbar {
  border-radius: 0px;
}
