#home-banner {
  min-height: 800px;
  z-index: 10;
  background-image: url('http://res.cloudinary.com/loren-losch/image/upload/v1478486681/record_l9qrzy.gif');
  background-size: 100% 100%;
}

.banner-container {
  position: absolute;
  top: 15%;
  background: transparent;
  color: white;
}

.banner-text {
  font-size: -webkit-xxx-large;
}
