#playbar {
  z-index: 100;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 60px;
  user-select: none;
  background-color: $alt-background;
}

#left_controlls, #center_controlls, #right_controlls {

}

#left_controlls {

}

#center_controlls {

}

#right_controlls {

}

#play-icon, #pause-icon, #next-icon{
  margin-left: 4px;
  height: 15px;
  color: $faded-grey;
  font-size: 30px;
  display: inline;
}

#play-icon:hover, #pause-icon:hover, #next-icon:hover{
  color: $secondary
}


.progress {
  width: 100%;
  position: relative;
}

.progress-bar {
  position: absolute;
  left: 0;
  top: 0;
}

#playbar_title, #playbar_by, #playbar_artist {
  font-size: 25px;
  padding: 0 5px;
  color: $primary-color
}

#playbar_title {

}

#playbar_by {
  color: $secondary;
  font-style: italic;
}

#playbar_artist {

}
