.card {
  background: $alt-background;
  color: $primary-grey;
  padding: 10px;
  position: relative;
  border: 1px solid #e5e5e5;
  display: block;
  margin-bottom: 20px;
}

.mix_card {
  min-height: 275px;
}


.half_card {

}

.mini_header {
  position: relative;
  background: $primary-accent;
  min-height: 64px;
  max-height: 64px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin: -10px -10px 0 -10px;
}


.mix_element {
  position: relative;
  word-wrap: break-word;
  padding: 10px 0;
  height: 255px;
  overflow: hidden;
  padding-left: 260px;
}


.cover {
  position: absolute;
  left: 0;
  width: 245px;
  height: 245px;
  float: left;
  margin: 0 10px 10px 0;
}

.title_min {
  color: $secondary;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 0.2em;
}


.frontside {
  height: 0;
  overflow: visible;
}


.mix_stats {
  margin-top: 8px;
}

.tags {
  margin-top: 25px;
  min-height: 100px;
  overflow: hidden;
  transition: opacity 0.1s linear;
  color: $primary-grey;
}


.min_tag {
  padding: 5px 5px;
  margin: 0 8px 8px 0;
  border: 1px solid #eee;
  border-radius: 30px;
  display: inline-block;
  color: $faded-grey;
  white-space: nowrap;
  cursor: pointer;
}


.tag {
  span {
    color: $primary-accent;
    padding: 5px 5px;
  }
}


.min_play_button {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 24px;
  border: 1px solid $primary-grey;
  padding: 7px 5px 8px 10px;
  border-radius: 50%;
}

.min_play_button:hover {
  color: $secondary;
  cursor: pointer;
  border: 1px solid $secondary;
}

.min_button_description {
  margin-left: 10px;
}

.published {
  color: $alt-background;
}
